.footer {
  background-color: #0a0a0a; 
  color: black;
  margin-top: 4rem; 
}

.footer-container {
  max-width: 1200px; 
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem; 
  padding: 3rem 1rem; 
}

@media (min-width: 768px) {
  .footer-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.footer-logo {
  font-weight: bold;
  font-size: 1.25rem;
}

.footer-sub {
  font-size: 1.5rem; 
  color: #ffffff; 
  margin-top: 0.5rem;
  font-weight: 600; 
  margin-left: -30%;
}

.footer-text {
  font-size: 1rem; 
  color: #ffffff; 
  margin-top: 0.5rem;
  font-weight: 600; 
  margin-left: -30%;
}

.footer-zalo{
  width: 6rem;
  height: 6rem;
  border-radius: 15px;
}

.footer-MXH{
  display: flex;
  align-items: center;
  gap: 35px;
  margin-left: -32%;
  margin-top: 4%;
}

.footer-title {
  font-weight: 600;
  margin-bottom: 0.5rem; 
}

.footer-list {
  list-style: none;
  padding: 0;
  margin-left: 5rem;
  margin-top: 1rem;
  font-size: 1.3rem;
  display: grid;
  gap: 1.3rem;
}

.google {
  width: 200%;
  height: 100%;
  margin-left: 5.2rem;
}

.footer-list li {
  margin-bottom: 0.5rem; 
}

.footer-list a {
  color: #f9fbfe; 
  text-decoration: none;
}

.footer-list a:hover {
  color: blue;
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1); 
}

.footer-copy {
  max-width: 1200px; 
  margin: 0 auto;
  padding: 1rem 1rem; 
  font-size: 0.875rem; 
  color: #9ca3af; 
}
